.print .MuiTypography-h3 {
  /* size is 794px */
  font-size: 3em;
}

.print .MuiTypography-h5 {
  /* size is 794px */
  font-size: 1.3em;
}

.print .MuiTypography-h6 {
  /* size is 794px */
  font-size: 1.25em;
}

.print .MuiTypography-subtitle {
  /* size is 794px */
  font-size: 1em;
}

.print .MuiTypography-subtitle1 {
  /* size is 794px */
  font-size: 1em;
}

.print .MuiTypography-subtitle2 {
  /* size is 794px */
  font-size: 0.875em;
}

.print .MuiTypography-body1 {
  /* size is 794px */
  font-size: 1em;
}

.print .MuiTypography-body2 {
  /* size is 794px */
  font-size: 0.875em;
}

.print div {
  font-size: 1em;
}

.print {
  font-size: 14px;
}

@media screen and (max-width: 2399px) {
  .recipeToPrint .print {
    font-size: 0.862vw;
  }
}

@media screen and (min-width: 2400px) {
  .recipeToPrint .print {
    font-size: 20.859px;
  }
}